OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_EMBED_URL=http://localhost:11434/api/embed
EMBED_MODEL=all-minilm
CHAT_MODEL=llama3.2:1b
ENVIRONMENT=development
HOST=0.0.0.0
GEMINI_API_KEY=AQ.....
ALLOWED_ORIGINS=https://nodeserver.onrender.com